@import '../../UI/Colors.module.scss';
@import '../../UI/Fonts.module.scss';

.filters__section {
  position: relative;
  z-index: 0;
  width: 40%;
  height: 100vh;
  padding-top: 130px;
  background: $color-background;
  border-right: 1px solid #555;
  color: white;
  padding-left: 2rem;
  transition: ease .5s;
  transform: perspective(100px) rotateY(1deg);

  h2 {
    font-size: 2.5vw;
    font-family: $font-roboto;
    font-weight: 300;
  }
}